<<<<<<< HEAD
<<<<<<< HEAD
<h1><%=@character.name%></h1>
=======
Character: <%= @character.name %>

<% @characters.each do |character| %>
  <%= character.name %>
<% end %>
>>>>>>> f7c559a570581ac6b6341ccab99621c53d90b3cc
=======
Character: <%= @character.name %> |
Tv Show: <%= @character.tv_show.name %>
Actor Name: <%= @character.actor.name %>
>>>>>>> 0d3d29331a5e229deaa2e819f56a2758314012bf
